.catalog__container{
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 790px auto;
  padding-top: 170px;
}

.catalog__title{
  font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin-top: 50px;
    margin-bottom: 110px;
    text-align: center;
    color: #515076;
}